<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>
    <form method="POST">
        <label>New Password:</label></br>
        <input name = "password" type="password">
        <label>Confirm new Password:</label></br>
        <input name = "c_password" type="password">
        <button class="ui button" type="submit">Submit</button>
    </form>
</body>
</html>